In [1]:
# DATASET #

import pandas as pd

datos = {
    'Nombre':  ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'Edad':    [25, 30, 22, None, 28],
    'Ciudad':  ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'Ingreso': [3000, 4500, 2800, 5000, None]
}

df = pd.DataFrame(datos)

# Guardar dataset base
df.to_csv('actividad_semana5.csv', index=False)

df

  Nombre  Edad    Ciudad  Ingreso
0    Ana  25.0    Madrid   3000.0
1    Bob  30.0      Lima   4500.0
2  Clara  22.0    Bogotá   2800.0
3  Diego   NaN  Medellín   5000.0
4    Eva  28.0      None      NaN

In [2]:
## CREAR Y OPERAR ##

import pandas as pd

# Series desde lista
s_lista = pd.Series([10, 20, 30, 40])
print("Series desde lista:\n", s_lista)

# Series desde diccionario
s_dict = pd.Series({'a': 1, 'b': 2, 'c': 3})
print("\nSeries desde diccionario:\n", s_dict)

# Acceder y modificar
print("\nValor en índice 'b':", s_dict['b'])
s_dict['b'] = 10
print("Después de modificar:\n", s_dict)

# Operación
print("\nSeries multiplicada x2:\n", s_lista * 2)

Series desde lista:
 0    10
1    20
2    30
3    40
dtype: int64

Series desde diccionario:
 a    1
b    2
c    3
dtype: int64

Valor en índice 'b': 2
Después de modificar:
 a     1
b    10
c     3
dtype: int64

Series multiplicada x2:
 0    20
1    40
2    60
3    80
dtype: int64

In [3]:
datos2 = {
    'Producto': ['Pan', 'Leche', 'Queso'],
    'Precio': [2000, 3500, 8000],
    'Stock': [20, 15, 5]
}

df2 = pd.DataFrame(datos2)
print(df2)

print("\nTipos de columnas:")
print(df2.dtypes)

  Producto  Precio  Stock
0      Pan    2000     20
1    Leche    3500     15
2    Queso    8000      5

Tipos de columnas:
Producto    object
Precio       int64
Stock        int64
dtype: object

In [4]:
print("Primeras filas:\n", df.head())
print("\nÚltimas filas:\n", df.tail())
print("\nInfo:\n")
df.info()
print("\nShape:", df.shape)
print("\nDescribe:\n", df.describe())

Primeras filas:
   Nombre  Edad    Ciudad  Ingreso
0    Ana  25.0    Madrid   3000.0
1    Bob  30.0      Lima   4500.0
2  Clara  22.0    Bogotá   2800.0
3  Diego   NaN  Medellín   5000.0
4    Eva  28.0      None      NaN

Últimas filas:
   Nombre  Edad    Ciudad  Ingreso
0    Ana  25.0    Madrid   3000.0
1    Bob  30.0      Lima   4500.0
2  Clara  22.0    Bogotá   2800.0
3  Diego   NaN  Medellín   5000.0
4    Eva  28.0      None      NaN

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nombre   5 non-null      object
 1   Edad     4 non-null      float64
 2   Ciudad   4 non-null      object
 3   Ingreso  4 non-null      float64
dtypes: float64(2), object(2)
memory usage: 292.0+ bytes

Shape: (5, 4)

Describe:
         Edad      Ingreso
count   4.00     4.000000
mean   26.25  3825.000000
std     3.50  1090.489187
min    22.00  2800.000000
25%    24.25  2950.000000
50%    26.50  3750.000000
75%    28.50  4625.000000
max    30.00  5000.000000

In [5]:
# Columna Nombre
print("Columna Nombre:\n", df['Nombre'])

# Fila índice 1 usando loc
print("\nFila con loc:\n", df.loc[1])

# Fila índice 1 usando iloc
print("\nFila con iloc:\n", df.iloc[1])

# Valor específico
print("\nEdad en fila 1:", df.loc[1, 'Edad'])

Columna Nombre:
 0      Ana
1      Bob
2    Clara
3    Diego
4      Eva
Name: Nombre, dtype: object

Fila con loc:
 Nombre        Bob
Edad         30.0
Ciudad       Lima
Ingreso    4500.0
Name: 1, dtype: object

Fila con iloc:
 Nombre        Bob
Edad         30.0
Ciudad       Lima
Ingreso    4500.0
Name: 1, dtype: object

Edad en fila 1: 30.0

In [6]:
# Incrementar edad
df['Edad'] = df['Edad'] + 5
print(df)

# Crear ingreso anual (multiplica nulos como 0)
df['Ingreso_anual'] = df['Ingreso'].fillna(0) * 12
print("\nCon ingreso anual:\n", df)

  Nombre  Edad    Ciudad  Ingreso
0    Ana  30.0    Madrid   3000.0
1    Bob  35.0      Lima   4500.0
2  Clara  27.0    Bogotá   2800.0
3  Diego   NaN  Medellín   5000.0
4    Eva  33.0      None      NaN

Con ingreso anual:
   Nombre  Edad    Ciudad  Ingreso  Ingreso_anual
0    Ana  30.0    Madrid   3000.0        36000.0
1    Bob  35.0      Lima   4500.0        54000.0
2  Clara  27.0    Bogotá   2800.0        33600.0
3  Diego   NaN  Medellín   5000.0        60000.0
4    Eva  33.0      None      NaN            0.0

In [7]:
# Detectar nulos
print("Nulos:\n", df.isna())

# Contar faltantes por columna
print("\nFaltantes por columna:\n", df.isna().sum())

# Rellenar nulos
df_relleno = df.copy()
df_relleno['Edad'] = df_relleno['Edad'].fillna(0)
df_relleno['Ciudad'] = df_relleno['Ciudad'].fillna('Desconocido')
df_relleno['Ingreso'] = df_relleno['Ingreso'].fillna(df_relleno['Ingreso'].median())

print("\nDataFrame con nulos rellenados:\n", df_relleno)

Nulos:
    Nombre   Edad  Ciudad  Ingreso  Ingreso_anual
0   False  False   False    False          False
1   False  False   False    False          False
2   False  False   False    False          False
3   False   True   False    False          False
4   False  False    True     True          False

Faltantes por columna:
 Nombre           0
Edad             1
Ciudad           1
Ingreso          1
Ingreso_anual    0
dtype: int64

DataFrame con nulos rellenados:
   Nombre  Edad       Ciudad  Ingreso  Ingreso_anual
0    Ana  30.0       Madrid   3000.0        36000.0
1    Bob  35.0         Lima   4500.0        54000.0
2  Clara  27.0       Bogotá   2800.0        33600.0
3  Diego   0.0     Medellín   5000.0        60000.0
4    Eva  33.0  Desconocido   3750.0            0.0

In [8]:
# Leer CSV creado
df_leido = pd.read_csv('actividad_semana5.csv')
print(df_leido.head())

# Guardar columnas seleccionadas
df_leido[['Nombre', 'Edad', 'Ciudad']].to_csv('solo_tres_columnas.csv', index=False)

  Nombre  Edad    Ciudad  Ingreso
0    Ana  25.0    Madrid   3000.0
1    Bob  30.0      Lima   4500.0
2  Clara  22.0    Bogotá   2800.0
3  Diego   NaN  Medellín   5000.0
4    Eva  28.0       NaN      NaN

In [9]:
df_int = pd.read_csv('actividad_semana5.csv')

# 1. Incrementar edad
df_int['Edad'] = df_int['Edad'].fillna(0) + 5

# 2. Crear ingreso anual
df_int['Ingreso_anual'] = df_int['Ingreso'].fillna(0) * 12

# 3. Filtrar > 36000
df_filtrado = df_int[df_int['Ingreso_anual'] > 36000]

# 4. Ordenar descendentemente
df_ordenado = df_filtrado.sort_values('Ingreso_anual', ascending=False)

# 5. Guardar resultado final
df_ordenado.to_csv('personas_filtradas.csv', index=False)

df_ordenado

  Nombre  Edad    Ciudad  Ingreso  Ingreso_anual
3  Diego   5.0  Medellín   5000.0        60000.0
1    Bob  35.0      Lima   4500.0        54000.0